.mat-table {
    width: 100%;
  }
  
  .del-icon {
    color: red;
    display: inline-block;
    margin-right: -20em;   
}
.edit-icon {
  color: black;
  display: inline-block;
  margin-right: -20em;   
}

.example-spacer {
  flex: 1 1 auto;
}
.right{
  float: right;
  margin-right: 1%;
}
.left{
  float: left;
  margin-left: 1%;
  width: 10%;
}
