<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <form>
    <p>
        <mat-form-field appearance="legacy">
          <input matInput placeholder="CIN">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <input matInput placeholder="Name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <input matInput placeholder="cv">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <input matInput placeholder="Type">
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button color="primary">Submit</button>
      </p>
    </form> 
</body>
</html>
